html * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.arrumar {
    height: 450px;
    width: 450px;
    object-fit: cover;
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;


}

body{ 
    background-color:rgb(153, 201, 233);
}

#menu {
    background-color: rgb(20, 78, 117);
    margin-top: 20px ;
    border-top: 8px solid hsl(212, 63%, 62%);
    border-bottom: 9px solid hsl(212, 63%, 62%);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

#menu a {
    color: aliceblue;
}

#menu :hover{

background-color: rgb(177, 193, 204) ;
color: rgb(3, 20, 36);
font-size: 30px;
}

#rodape {
    background-color: rgb(20, 78, 117);
    margin-top: 10px;
    border-top: 8px solid hsl(212, 63%, 62%);
    border-bottom: 9px solid hsl(212, 63%, 62%);
    font-size: 10px;

    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
}

#rodape a {
    color: aliceblue;
}

#rodape :hover{

background-color: rgb(177, 193, 204) ;
color: rgb(3, 20, 36);
}

