.arrumar {
    height: 450px;
    width: 450px;
    object-fit: cover;
}

.principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;


}

body{ 
    background-color:rgb(167, 192, 242);
}

#menu {
    background-color: rgb(182, 182, 226);
    margin-top: 20px ;
    border-top: 8px solid hsl(240, 64%, 65%);
    border-bottom: 9px solid hsl(240, 64%, 65%);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

#menu a {
    color: aliceblue;
}

#menu:hover{

background-color: hsl(240, 64%, 65%) ;
color: aliceblue;
}

#rodape {
    background-color: rgb(182, 182, 226);
    margin-top: 20px ;
    border-top: 8px solid hsl(240, 64%, 65%);
    border-bottom: 9px solid hsl(240, 64%, 65%);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}



